<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contcats</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/project/styles/styles.css">
    <link rel="cat icon" href="/project/docs/images/icons/animal.png" type="image/x-icon">
</head>
<body>
    <header>
        <!-- !barra de navegação -->
        <nav>
            <div class="navbar">
                <li><a href="/index.html"><i class="fas fa-home"></i>
                    Home</a></li> <!-- *Página inicial -->
                <li><a href="/project/templates/CatBreeds.html"><i class="fas fa-list"></i>
                    Special Cats</a></li> <!-- *Informações sobre as raças de gatos -->
                <li><a href="/project/templates/Contact.html"><i class="fas fa-phone"></i>
                    Contact</a></li> <!-- *Aba de contatos (email, número, linkedin) -->
                <li><a href="/project/templates/feedback.html"><i class="fas fa-clipboard-list"></i>
                    Feedback Survey</a></li> <!-- TODO: criar uma página de formulário para o site -->
                <!-- TODO: Poderia adicionar mais elementos, entretanto...-->
            </div>
        </nav>
    </header>
    <main>
        <div class="conteudo">
            <div class="init">
                <h1 class="title">Aqui estão meus contatos!</h1>
                <p id="contactP"> Vou deixar aqui formas de você entrar em contato comigo, caso tenha mais ideias de projetos, ou queira meu auxílio em alguma atividade parecida 👌</p>
                <figure id="contactFig">
                    <img id="catphone" src="/project/docs/images/contcats.jpg" alt="até parece que esse gato sabe mexer nesse celular" width="600" height="300">
                    <figcaption>Quem fez o site todo foi esse carinha aqui em cima.</figcaption>
                </figure>
            </div>
            <!-- !área de contatos com minhas redes sociais: github, email, linkedin e instagram -->
            <div class="contacts">
                <ul>
                    <li><a href="https://github.com/Jhon-vlfs" target="blank"><i class="fab fa-github"></i></a></li>
                    <li><a href="mailto:joao.victormeiaum@gmail.com"><i class="fa-solid fa-envelope"></i></a></li> <!-- TODO: melhorar o percurso do link, como colocar o endereço do email já na caixa de mensagens-->
                    <li><a href="https://www.linkedin.com/in/jo%C3%A3o-victor-lima-freitas/" target="blank"><i class="fab fa-linkedin-in"></i></a></li> 
                    <!-- TODO: melhorar o percurso do link em direção à rede  -->
                    <li><a href="https://www.instagram.com/john.vlf/" target="blank"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </main>
    <footer>
        <p>© 2024 João Victor Lima. Todos os direitos reservados.</p>
    </footer>
</body>

</html>