<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cats Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="cat icon" href="docs/images/icons/animal.png" type="image/x-icon">
</head>
<body>
    <header>
        <!-- !barra de navegação -->
        <nav>
            <div class="navbar">
                    <li><a href="/index.html"><i class="fas fa-home"></i>
                        Home</a></li> <!-- *Página inicial -->
                    <li><a href="/project/templates/CatBreeds.html"><i class="fas fa-list"></i>
                        Special Cats</a></li> <!-- *Informações sobre as raças de gatos -->
                    <li><a href="/project/templates/Contact.html"><i class="fas fa-phone"></i>
                        Contact</a></li> <!-- *Aba de contatos (email, número, linkedin) -->
                    <li><a href="/project/templates/feedback.html"><i class="fas fa-clipboard-list"></i>
                        Feedback Survey</a></li> <!-- *Formulário de satisfação/opinião do site -->
                <!-- TODO: Poderia adicionar mais elementos, entretanto...-->
            </div>
        </nav>
    </header>
</body>
</html>